@charset 'utf-8'
// ============================================================
// Frameworks and Plugins for it with formatting
// ============================================================
@import '../../node_modules/kouto-swiss'

meyer-reset()
box-sizing-reset()

// follows atomic design concept
// ============================================================
// base settings *order sensitive*
// ============================================================
@import '_variables'
@import '_mixins'
@import '_base'

// adjust vuesax
.vs-checkbox--check
  letter-spacing: initial
  line-height: initial
  .material-icons
    font-size: initial
.vs-component.con-vs-checkbox
  justify-content: start
