@charset 'utf-8'
// ============================================================
// Frameworks and Plugins for it with formatting
// ============================================================
@import '../../node_modules/kouto-swiss'
// follows atomic design concept
// ============================================================
// base settings *order sensitive*
// ============================================================
@import '_variables'
@import '_mixins'
@import '_base'

// partial resets
ol,
ul
  list-style: none
  list-style-type: none
table
  border-collapse: collapse
  border-spacing: 0
// adjust vuesax
.vs-checkbox--check
  .material-icons
    font-size: initial
.vs-component.con-vs-checkbox
  justify-content: start
